/vendor/composer/
/vendor/gabordemooij/
/.idea/
/vendor/autoload.php
/vendor/vlucas/
/vendor/phpmailer/
/config/config_db.php
/config/.env
/vendor/graham-campbell/
/vendor/phpoption/
/vendor/symfony/
